body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAFAFA;
}

.main-container {
    display: flex;
    justify-content: center;
    padding: 0 clamp(0px, 20vw, 300px);
    background-color: white;
}

.product-image {
    width: 400px;
    height: auto;
}

.product-info {
    padding: 15px;
}

.product-text {
    width: 100%;
    margin-bottom: 10px;
    font-size: 17px;
}

.product-text #fav {
    color: white;
    background-color: rgb(0, 84, 166);
    font-size: 15px;
    padding: 3px;
    border-radius: 5px;
    width:70px;
}

.product-price {
    background-color: #FAFAFA;
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 20px;
}

.product-price span {
    font-size: 15px;
    color: #999;
    text-decoration: line-through;
    padding-right: 15px;
}

.product-price p {
    font-size: 18px;
    padding-right: 15px;
    color: rgb(250, 70, 70);
}

.product-price div {
    font-size: 10px;
    color: white;
    background-color: rgb(250, 70, 70);
    padding: 2px;
    border-radius: 5px;
    margin-bottom: 3px;
}

.product-rating {
    display: flex;
    margin-bottom: 10px;
}

.product-rating > div:not(:last-child) {
    border-right: 2px solid gray; 
}

.product-rating-star {
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.product-rating-comment {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    align-items: center;
}

.product-rating-sold {
    padding-left: 20px;
    display: flex;
    align-items: center;
}

#highlight {
    padding: 5px;
    font-weight: bold;
    text-decoration: underline;
}

.product-rating .star {
    color: rgb(250, 70, 70);
    font-size: 18px;
}

.product-options {
    font-size: 15px;
    color: #999;
}

.product-options-details {
    display: flex;
    align-items: center;
    padding: 20px 20px 0 20px; 
}

.product-options-details .item-1 {
    width: 120px;
}

.product-options-details .item-2 {
    padding-right: 10px;
    color: black;
    font-size: 14px;
}

.product-options-details #special {
    color: white;
    background-color: rgb(250, 70, 70);
    padding: 3px;
    border-radius: 5px;
    margin-bottom: 3px;
}

.product-options-details .item-3 {
    font-size: 14px;
}

.counter-container {
    display: flex;
    align-items: center;
}

.counter-container button {
    width: 25px;
    height: 23px;
    font-size: 20px;
    background-color: white;
    cursor: pointer;
    outline: none;
    border: 1px solid #999;
}

.counter-container button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.counter-container div {
    width: 50px;
    height: 23px;
    text-align: center;
    align-content: center;
    border: 1px solid #999;
}

.product-actions {
    display: flex;
    padding: 20px;
}

.product-actions .button-add {
    width: 150px;
    padding: 10px 0 10px 0;
    background-color: rgba(0, 84, 166, 0.1);
    color: rgba(0, 84, 166, 0.5);
    border: 1px solid rgb(0, 84, 166);
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.product-actions .button-add:hover {
    background-color: white;
}

.product-actions .button-buy {
    width: 150px;
    padding: 10px 0 10px 0;
    background-color: rgb(0, 84, 166);
    color: #FFEEEA;
    border: 1px solid rgb(0, 84, 166);
    border-radius: 5px;
    cursor: pointer;
}

.product-actions .button-buy:hover {
    background-color: rgba(0, 84, 166, 0.5);
}

.detail-container {
    margin-top: 20px;
    padding: 10px clamp(0px, 20vw, 300px);
    background-color: white;
}

.detail-title {
    padding: 15px;
    background-color: #FAFAFA;
    font-size: 15px;
    font-weight: bold;
}

.detail-categories {
    padding: 20px 0 20px 0;
}

.detail-categories-item {
    display: flex;
    padding: 15px;
    font-size: 14px;
}

.detail-categories-item-title {
    color: #999999;
    width: 80px;
    padding-right: 20px;
}

.detail-categories-item-content {
    color: black;
}

.detail-descriptions {
    font-size: 14px;
    color: black;
    padding: 20px 0 20px 0;
}

.detail-descriptions div {
    padding: 0 0 10px 15px;
}

/*====================Gợi ý hôm nay====================*/
.suggestion-container {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
}

.suggestion-container-detail {
    width: 1200px; 
}

.body-middle-suggestion {
    padding-left: 5px;
    padding-top: 20px;
    position: relative;
    font-size: 18px;
    font-family: Helvetica Neue, Helvetica, Arial, æ–‡æ³‰é©›æ­£é»‘, WenQuanYi Zen Hei, Hiragino Sans GB, å„·é»‘ Pro, LiHei Pro, Heiti TC, å¾®è»Ÿæ­£é»‘é«”, Microsoft JhengHei UI, Microsoft JhengHei, sans-serif;
}

.body-middle-suggestion-top {
    background-color: #FFFFFF;
    color: rgb(247, 75, 75);
    display: flex;
    justify-content: center;
    font-size: 16px;
    padding: 20px;
    border-bottom: 4px solid rgb(247, 75, 75);
}

.body-middle-suggestion-content {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 10px;
    padding-top: 10px;
}

.body-middle-suggestion-content-items {
    position: relative;
    width: 190px;
    height: 310px;
    background-color: #FFFFFF;
}

.body-middle-suggestion-content-items #suggestion-discount {
    position: absolute; 
    top: 0; 
    right: 0;
    background-color: #FFE97A;
    color: rgb(0, 84, 166);
    font-size: 14px;
    padding: 2px;
    z-index: 1;
}

.body-middle-suggestion-content-items #suggestion-main {
    width: 190px;
    height: 200px;
}

.body-middle-suggestion-content-items #suggestion-side {
    position: absolute;
    bottom: 110px;
    left: 0;
    width: 176px;
    height: 176px;
}

.body-middle-suggestion-content-items #suggestion-top {
    position: absolute;
    top: 10px;
    left: -3px;
    width: 30px;
    height: 20px;
}

.body-middle-suggestion-content-items #suggestion-bonus {
    width: 80px;
    height: 20px;
    padding: 5px;
}

.body-middle-suggestion-content-items #suggestion-text {
    font-size: 14px;
    width: 180px;
    height: 29px;
    padding: 5px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden; 
    text-overflow: ellipsis;
}

.body-middle-suggestion-content-items #suggestion-prize {
    color: rgb(247, 75, 75);
    position: absolute;
    font-size: 16px;
    bottom: 10px;
    left: 10px;
}

.body-middle-suggestion-content-items #suggestion-sold {
    color: #757575;
    position: absolute;
    font-size: 12px;
    bottom: 10px;
    right: 10px;
}

.body-middle-suggestion-bottom {
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

.body-middle-suggestion-bottom button {
    width: 400px;
    height: 40px;
    font-size: 14px;
    background-color: #FFFFFF;
    border: 1px solid #DADADA;
}

.body-middle-suggestion-bottom button:hover {
    background-color: #F0F0F0;
}

@media only screen and (max-width: 430px) {
    .body-middle-suggestion {
        padding-right: 5px;
        padding-top: 10px;
        font-size: 7px;
    }
    
    .body-middle-suggestion-top {
        font-size: 7px;
        padding: 10px;
        border-bottom: 2px solid rgb(0, 84, 166);
    }
    
    .body-middle-suggestion-content {
        grid-template-columns: auto auto auto auto;
        gap: 5px;
        padding-top: 5px;
    }
    
    .body-middle-suggestion-content-items {
        width: 100px;
        height: 145px;
    }
    
    .body-middle-suggestion-content-items #suggestion-discount {
        background-color: #FFE97A;
        font-size: 5px;
        padding: 1px;
    }
    
    .body-middle-suggestion-content-items #suggestion-main {
        width: 100px;
        height: 110px;
    }
    
    .body-middle-suggestion-content-items #suggestion-side {
        bottom: 35px;
        width: 100px;
        height: 100px;
    }
    
    .body-middle-suggestion-content-items #suggestion-top {
        top: 5px;
        left: -1.5px;
        width: 15px;
        height: 10px;
    }
    
    .body-middle-suggestion-content-items #suggestion-bonus {
        width: 25px;
        height: 5px;
        padding: 3px 0 3px 3px;
    }
    
    .body-middle-suggestion-content-items #suggestion-text {
        font-size: 6px;
        width: 90px;
        height: 8px;
        padding: 3px;
    }
    
    .body-middle-suggestion-content-items #suggestion-prize {
        font-size: 6px;
        bottom: 3px;
        left: 3px;
    }
    
    .body-middle-suggestion-content-items #suggestion-sold {
        font-size: 5px;
        bottom: 3px;
        right: 3px;
    }
    
    .body-middle-suggestion-bottom {
        padding-top: 10px;
        padding-bottom: 30px;
    }
    
    .body-middle-suggestion-bottom button {
        width: 150px;
        height: 20px;
        font-size: 6px;
    }
}