/* ---News---- */
.news-container {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    /* margin: 20px; Khoảng cách từ khung tin tức đến lề trang */
}
.news-wrapper {
    overflow: hidden;
    width: 100%;
}
.news-slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.news {
    display: flex;
    flex-direction: row; /* Bố cục ngang */
    min-width: 50%; /* Hiển thị 2 tin tức cùng lúc */
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #ddd; /* Thêm viền để phân biệt các tin tức */
    background: #fff; /* Màu nền trắng */
    text-decoration: none; /* Bỏ gạch chân */
}

.news__img {
    flex: 2;
}

.news__img img {
    width: 100%;
    margin-top: 18px;
    margin-left: 20px;
}

.news__body {
    flex: 2;
    padding: 18px;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.news__body-title {
    font-size: 1em;
    font-weight: 500;
    color: black;
    margin-bottom: 8px;
    line-height: 1.5em;
    height: calc(20px * 3);
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.new__body-date {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 8px;
    margin-top: 0;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.news__description {
    font-size: 1em;
    color: black;
    text-align: justify;
    line-height: 1em;
    height: calc(20px * 10);
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 10;
    text-overflow: ellipsis; /* Hiển thị dấu "..." khi vượt quá */
    white-space: normal; /* Đảm bảo hiển thị khoảng trắng đầy đủ */
}

.prev-btn, .next-btn {
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}
