/* banner */
/* Thêm một số kiểu tùy chỉnh nếu cần */
.arrow-left,
.arrow-right {
    cursor: pointer;
}

/* Điều chỉnh kích thước của ảnh trong slider */
.slide-item img {
    width: 100%;
    /* Chiều rộng của ảnh là 100% của slide-item */
    height: auto;
    /* Chiều cao tự động để duy trì tỷ lệ */
    display: block;
    /* Đảm bảo ảnh không bị khoảng trống phía dưới */
}

/* Căn giữa slider trong trang */
.slider {
    max-width: 1200px;
    /* Đặt chiều rộng tối đa cho slider */
    margin: 0 auto;
    /* Căn giữa slider trong trang */
}

.sp_container,
.tintuc_container {
    padding: 0 5%;
}
/* list product title */
.title_main_sp {
    position: relative;
    margin: 40px 0 20px 51px;
    background: #f5f5f5;
}
.title_main_sp:before {
    content: '';
    position: absolute;
    background: url(../../images/images_Phuong/icons/before_tieude.png) no-repeat left top;
    width: 50px;
    height: 40px;
    left: -51px;
    top: 0px;
}
.title_main_sp p {
    font-size: 18px;
    color: #191919;
}
.title_main_sp span {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    background: #0054a6;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
}
.title_main_sp span:before {
    content: '';
    position: absolute;
    background: url(../../images/images_Phuong/icons/after_tieude.png) no-repeat left top;
    width: 36px;
    height: 40px;
    left: 100%;
    top: 0px;
}
.catchuoi1td {
    text-align: left;
    white-space: inherit;
    line-height: 40px;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.xemthemsp {
    font-size: 12px;
    text-decoration: none;
    color: #0054a6;
    position: absolute;
    right: 10px;
    top: 12px;
}

/* products */
.loadphantrangth61,
.loadphantrangth62,
.loadphantrangth63,
.loadphantrangth64 {
    display: grid;
    grid-template-columns: repeat(auto-fit, 20%);
}
.box {
    float: left;
    margin: 0 10px 10px 0;
}
.box:nth-child(5n+1) {
    clear: both;
}
.boxkhunghinh {
    position: relative;
    width: 100%;
    background: #ffffff;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px #00000029;
    padding: 10px 10px 0 10px;
}
.pic_sanpham {
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    border-radius: 8px;
}
.zoomhinh {
    overflow: hidden;
}

.zoomhinh img {
    transition: all 1s ease 0s
}
.zoomhinh:hover img {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.lazy {
    width: 100%;
}
.duoisp {
    padding: 10px;
    position: relative;
}
.duoisp a {
    position: relative;
    display: block;
    text-decoration: none;
}
.catchuoi1 {
    text-align: left;
    white-space: inherit;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 1.6vw;
    color: #2b2b2b;
    margin: unset;
}
.price_sanpham {
    color: #2f2f2f;
    display: flex;
    flex-direction: row;
}
.price_sanpham span {
    font-weight: bold;
    font-size: 1vw;
    margin: unset;
}
.price_sanpham .red {
    color: #ed1c24;
}
.new-price {
    padding-right: 5px;
    padding-left: 5px;
}
.old-price span {
    color: #797979 !important;
    text-decoration: line-through;
}
.clear {
    clear: both;
}
@media only screen and (max-width: 1000px){
    .title_main_sp:before {
        width: 45px;
        height: 36px;
        left: -42px;
        top: 3px;
        background-size: 45px 36px;
    }
    .title_main_sp span {
        font-size: 12px;
    }
    .loadphantrangth61,
    .loadphantrangth62,
    .loadphantrangth63,
    .loadphantrangth64 {
        grid-template-columns: repeat(auto-fit, 25%);
    }
    .duoisp {
        padding: 5px 0;
    }
    .price_sanpham span {
        font-size: 0.9vw;
    }
}

