body {
    margin: 0;
    font-family: Arial, sans-serif;
    margin-top: 70px;
    
}

/* CSS CHO HEADER */
.headertop .col-12{
   padding: 10px;
}
.headertop .user-actions a{
   margin: 0 10px;
}
.headertop .user-actions{
   text-align: right;
   float: right;
}
  
  .header{
    background-color: rgba(0, 84, 166, 0.1);
  }
  .section{
    background-color:rgba(0, 84, 166, 0.1);
  }

    .headertop {
        background-color: #333;
        color: white ;
        padding: 0px;
        height: 100%;
       
    }
    .headertop a, span {
        font-size: 12px;
        color: rgb(161, 158, 158);
        text-decoration: none;
        margin: 0 10px;
    }
.headertop a:hover {
        color: #fff;
    }
    .headertop .contact-info {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .headertop .contact-info span {
        margin-right: 20px;
    }
    .headertop .user-actions {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .headertop .user-actions a {
        margin-left: 10px;
    }
   
    .navbar{
        background-color:rgb(0, 84, 166);
        display: inline-block;
        text-align: center;

    }
    .navbar a{
      color: #fff;
    }
    .dropdown-menu a{
      color: black;
    }
     .navbar-brand{
        font-family:'Times New Roman', Times, serif;
        font-weight: bold;
        font-size: 30px;
        margin-left: 15px;
     }
    
    .nav-item.dropdown:hover .dropdown-menu {
        display: block;
      }

     /* CSS CHO FOOTER */
    .footer{
        background-color: rgb(172, 172, 172);
     }
    .footer-col p{
        font-family: Arial, Helvetica, sans-serif;
        
        color: black;
        font-weight: bold;
        padding: 20px;
        margin-bottom: 0;
     }
     .footer li{
        list-style-type: none;
     }
     .footer-col a{
        text-decoration: none;
        color: black;
     }
     .footer-col a:hover{
        text-decoration: underline;
        color: blue;
     }
     .social i{
        font-size: 30px;
     }
     .social li{
        display: inline-block;
     }
     .mess i:hover{
        color: rgb(250, 100, 152);
     }
     .ig i:hover{
        color: red;
     }
     .shopee i:hover{
        color: rgb(243, 115, 69);
     }
     .copyright p{
        margin-bottom: 0px;
     }
     
     .footer-right{
        right: 1.5%;
        bottom: 10%;
        position: fixed;
        z-index: 1000;
     }
     .footer-right li{
        margin-bottom: 10px;
     }

     /* CSS CHO COREVALUE */
     .text span{
      margin: 0px;
      text-align: left;
     }
     .corevalue{
      margin-top: 30px;
     }
    .hopqua, .Facebook, .Instagram, .Zalo{
      animation: shake 0.5s infinite;
    }
    @keyframes shake {
      0% { transform: translate(0, 0); }
            10% { transform: translate(-1px, 1px); }
            20% { transform: translate(-1px, -1px); }
            30% { transform: translate(1px, 1px); }
            40% { transform: translate(1px, -1px); }
            50% { transform: translate(0, 1px); }
            60% { transform: translate(-1px, -1px); }
            70% { transform: translate(1px, 1px); }
            80% { transform: translate(-1px, 1px); }
            90% { transform: translate(1px, -1px); }
            100% { transform: translate(0, 0); }
    }
    /* CSS CHO BANG BAO HANH */
   table {
      text-align: left;
      padding: 30px;
      margin: 20px;
   }
   .table th {
      padding: 15px;
      border: solid 1px black;
   }
   .table td {
      padding: 15px;
      border: solid 1px black;
      vertical-align: top;

   }
   
    
     

     

    

    

